* {
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.5;
}
body {
    background-color: #f5d09b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    color: #971805; 
}

body > * {
    max-width: 40rem;
}
body > p {
    margin-top: 0;
}

img {
    max-height: 30vh;
    margin: 1rem;
}

@counter-style single-emoji {
    system: cyclic;
    symbols: "📚";
    suffix: " ";
}

ul {
    list-style-type: single-emoji;
}
ul li {
    margin-bottom: 2rem;
}
ul li a {
    font-weight: bold;
}
ul li p:first-of-type {
    margin: 0;
    margin-bottom: 0.5rem;
    font-style: italic;
}
ul li p {
    margin: 0;
}

ol {
    list-style: none;
    counter-reset: list-counter -1; /* Start counting at 0 */
}
ol li {
    counter-increment: list-counter;
    display: inline;
}
ol li::before {
    content: "#" counter(list-counter);
    font-weight: bold;
    display: inline-block;
    width: 2rem;
    margin-left: -2.2rem;
    text-align: right;
}
ol li a {
    font-weight: bold;
}
ol li p {
    margin: 0;
}
ol li p:first-of-type {
    font-style: italic;
}
ol li p:nth-of-type(2) {
    margin-bottom: 1rem;
    font-size: 80%;
}