* {
    font-family: Solway, serif;
    line-height: 1.5;
}
h1, h2, h3, a {
    font-family: Montserrat, Arial, sans-serif;
}
body {
    background-color: #f5d09b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    color: #971805;
    font-weight: bold;
}
a:hover,
a:active,
a:focus {
    font-style: italic;
    text-decoration: underline dashed;
}

body > * {
    max-width: 40rem;
}
body > p {
    text-align: justify;
    margin-top: 0;
}

img {
    max-height: 30vh;
    margin: 1rem;
}

@counter-style books {
    system: cyclic;
    symbols: "📚";
    suffix: " ";
}

ul {
    list-style-type: books;
    width: 100%;
}
ul li {
    margin-bottom: 2rem;
}
ul li p:first-of-type {
    margin: 0;
    margin-bottom: 0.5rem;
}
ul li p {
    margin: 0;
}

div.newsletter {
    background-color: #971805;
    color: white;
    padding: 1rem;
}
div.newsletter h2 {
    margin: 0;
}
div.newsletter p {
    margin: 0;
    margin-top: 1rem;
}
div.newsletter a {
    color: white;
}

ol {
    list-style: none;
    counter-reset: list-counter -1; /* Start counting at 0 */
}
ol li {
    counter-increment: list-counter;
    display: inline;
}
ol li::before {
    content: "#" counter(list-counter);
    font-weight: bold;
    display: inline-block;
    width: 2rem;
    margin-left: -2.2rem;
    text-align: right;
}
ol li a {
    font-weight: bold;
}
ol li p {
    margin: 0;
}
ol li p:nth-of-type(2) {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}